body {
  padding: 20px;
}

h1,
p {
  font-family: Lato;
}

.modal-50 {
  width: 50vw !important;
  max-width: 50vw !important;
}

.popup-img,
.img-drag-wrapper {
  width: 100%;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-zoom-cmds {
  position: absolute;
  z-index: 1;
  top: 0px;
  inset-inline-start: 0px;
  margin: 20px;
  display: grid;
  gap: 2px;
}

.img-zoom-btn {
  width: 70px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

.img-zoom-btn svg {
  margin: 0;
  width: 100%;
}

.img-zoom-btn circle {
  fill: #f2df5e;
}

.img-zoom-btn path {
  fill: black;
  stroke: black;
  stroke-width: 2px;
}
